body,.stApp{font-family:var(--font-sans);font-size:20px;color:var(--c-text);}
.site-title,.site-subtitle{font-family:var(--font-head-1);}
h1,h2,h3,h4,h5{font-family:var(--font-head-2);}
nav a{font-size:18px;}
